include LICENSE
include README.md
include CHANGELOG.md
include requirements.txt
include requirements-lock.txt
include reconstrike_ng.py
include reconstrike-ng.desktop
recursive-include scanner *.py
recursive-include debian *
