[Desktop Entry]
Name=ReconStrike-ng
Comment=Advanced Web Vulnerability Assessment Framework
Exec=reconstrike
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=03-webapp-analysis;11-sniffing-spoofing;
Keywords=vulnerability;scanner;pentest;security;
