#!/usr/bin/make -f
%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	install -D -m 644 debian/reconstrike-ng.1 debian/reconstrike-ng/usr/share/man/man1/reconstrike-ng.1
